/*
** ** ============================================================================
** ** ** THEME FONTS STYLES
** ** ============================================================================
*/

/*
** ** 
** ** ** Font [Aclonica]
** **
*/
@font-face {
  font-family: "Aclonica";
  src: url("../fonts/Aclonica-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
  ** ** 
  ** ** ** Font [Alex Brush]
  ** **
  */

@font-face {
  font-family: "Alex Brush";
  src: url("../fonts/AlexBrush-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
  ** ** 
  ** ** ** Font [Roboto]
  ** **
  */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/*
** ** ============================================================================
** ** ** THEME COLORS & STYLES
** ** ============================================================================
*/
/*
** **
** ** ** Css custom properties
** **
*/
:root {
  /* Theme Colors */
  --color-primary: #362023;
  --color-secondary: #a37c40;
  --color-tertiary: #f7e1d7;

  /* Accent Colors */
  --color-success: #0be2bc;
  --color-danger: #fd5e5e;
  --color-info: #00b8f2;
  --color-warn: #ff9900;

  /* Common Colors */
  --color-black: #000;
  --color-white: #fff;

  /* Shadows */
  --shadow-color: 0, 100%, 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/*
** ** ============================================================================
** ** ** CSS RESET STYLES
** ** ============================================================================
*/

/*
  ** **
  ** ** ** Use a more intuitive box model
  ** **
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  ** **
  ** ** ** Remove default margins
  ** **
  */
* {
  margin: 0;
  padding: 0;
}

/*
  ** **
  ** ** ** Allow percentage based heights 
  ** **
  */
html,
body,
#root {
  height: 100%;
}

/*
  ** **
  ** ** ** Accessible line height and improved text rendering
  ** **
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  ** **
  ** ** ** Improve media elements' default behaviour
  ** **
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/*
  ** **
  ** ** ** Default font family for the code element
  ** **
  */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  ** **
  ** ** ** Remove default typography from the form inputs
  ** **
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
  ** **
  ** ** ** Avoid text overflow
  ** **
  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/*
  ** **
  ** ** ** Create a seperate stacking context for the root element
  ** **
  */
#root {
  isolation: isolate;
}

/*
** ** ============================================================================
** ** ** GLOBAL
** ** ============================================================================
*/
html {
  font-family: Roboto;
  font-size: 62.5%;
  background-color: var(--color-tertiary);
}

/*
** ** ============================================================================
** ** ** TYPOGRAPHY
** ** ============================================================================
*/

/*
** **
** ** ** Headings
** **
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Aclonica;
  font-weight: normal;
}

h1 {
  font-size: 4.2rem;
  line-height: 0.94em;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.16em;
}

h2::first-letter {
  font-family: Alex Brush;
  font-size: 3em;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.16em;
}

h4 {
  font-size: 2.6rem;
  line-height: 1.14em;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 1.8rem;
}

/*
** **
** ** ** Body text
** **
*/
p {
  font-size: 1.6rem;
}

p.lead {
  font-size: 1.8rem;
}

/*
** ** ============================================================================
** ** ** HEADER
** ** ============================================================================
*/
header.header {
  width: 100%;
  position: fixed;
  background: var(--color-primary);
  color: var(--color-white);
}

.header .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--color-white);
}

.header .alert p {
  font-size: 12px;
}

.header .alert button {
  position: absolute;
  right: 48px;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
}

header .navbar > :first-child,
header .navbar > :last-child {
  flex: 0 1 25%;
  display: flex;
}

header .navbar > :last-child {
  justify-content: flex-end;
}

.header .navbar .navbar__navlinks {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

.header .navbar .navbar__navlinks .navbar__navlinks__navlink {
  font-size: 20px;
  color: inherit;
  font-family: "Aclonica";
  text-decoration: none;
}

.header .navbar .navbar__navlinks .navbar__navlinks__navlink:hover {
  color: var(--color-tertiary);
}

.header .navbar .navbar__icon-buttons {
  display: flex;
  gap: 16px;
}

/*
** ** ============================================================================
** ** ** FOOTER
** ** ============================================================================
*/
footer.footer {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: relative;
  z-index: 1;
}

.footer .copyright-text {
  border-top: 1px solid var(--color-white);
  height: max-content;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -48px -48px -48px;
  padding: 16px 48px;
}

.footer .footer__secondary-links {
  align-self: flex-end;
}

.footer .footer__secondary-links .navlinks {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer .footer__content {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.footer .footer__content__col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer .footer__content__col:nth-child(1),
.footer .footer__content__col:nth-child(2) {
  flex: 0 1 30%;
}

.footer .footer__content__col:nth-child(3) {
  flex: 0 1 40%;
}

.footer .footer__content__col .navlinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.footer .navlinks a {
  font-size: 1.6rem;
  color: inherit;
  text-decoration: none;
}

.footer .navlinks a:hover {
  color: var(--color-secondary);
}

.footer .footer__content__col h4 {
  text-transform: uppercase;
  max-width: 540px;
}

.footer .footer__content__col input {
  height: 48px;
  padding: 24px 16px;
  border-radius: 4px;
  font-size: 1.6rem;
}

/*
** ** ============================================================================
** ** ** COMPONENTS
** ** ============================================================================
*/
/*
** Button
*/
button.btn {
  display: block;
  width: fit-content;
  height: auto;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 1.6rem;
  font-family: Aclonica;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

button.btn--sm {
  padding: 12px 16px;
  font-size: 1.2rem;
}

button.btn--lg {
  font-size: 1.8rem;
  padding: 20px 32px;
}

button.btn--full-width {
  width: 100%;
}

button.btn--primary {
  background-color: var(--color-primary);
}

/*
** Button Group
*/
div.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--color-primary);
}

/*
** Icon Button
*/
button.icon-button {
  --size: 56px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  border-radius: var(--size);
  overflow: hidden;
  cursor: pointer;
}

button.icon-button--reverse {
  color: var(--color-white);
  background-color: var(--color-black);
}

button.icon-button--plain {
  background: transparent;
}

button.icon-button--sm {
  --size: 24px;
}

button.icon-button--active {
  background-color: var(--color-primary);
  color: white;
}

button.icon-button--active img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg)
    brightness(106%) contrast(105%);
}

/*
** Divider
*/
hr.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*
** Flexbox
*/
div.flex-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

/*
** ** ============================================================================
** ** ** SECTION [HERO]
** ** ============================================================================
*/
section.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-color: var(--color-secondary);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  padding: 48px;
}

.hero__intro {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__intro__subtitle {
  font-size: 2.4rem;
}

/*
** ** ============================================================================
** ** ** SECTION [COFFEE PROCESS]
** ** ============================================================================
*/
section.coffee-process {
  --space: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space) 0;
  gap: var(--space);
}

.coffee-process__intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}

.coffee-process__intro__image {
  max-width: 320px;
}

.coffee-process__intro__title {
  max-width: 700px;
}

.showcase-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.showcase {
  max-width: 1200px;
  display: flex;
  gap: 90px;
}

.showcase > div {
  flex: 1;
  height: 800px;
}

.showcase__image,
.showcase__content__image {
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-high);
  overflow: hidden;
}

.showcase__image img,
.showcase__content__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase__content__image {
  height: 300px;
}

.showcase__content {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.showcase__content__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.showcase__content__image {
  flex: 1;
}

/*
** ** ============================================================================
** ** ** SECTION [TOP COFFEE]
** ** ============================================================================
*/
section.best-coffee {
  --space: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space);
  background-color: var(--color-secondary);
  padding: var(--space) 0;
}

.cards-wrap {
  width: calc(100% - 48px * 2);
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 460px;
  background: var(--color-white);
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  height: 240px;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__header,
.card__body,
.card__footer {
  padding: 24px 24px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__body__primary-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__body__secondary-details {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.card__body__secondary-details > p {
  font-weight: bold;
}

.card__body__secondary-details .size {
  display: flex;
  gap: 24px;
}

.card__body__secondary-details .size .size__cup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card__body__secondary-details .size .size__cup--lg img {
  width: 48px;
}

.card__body__secondary-details .size .size__cup--md img {
  width: 32px;
}

.card__body__secondary-details .size .size__cup--sm img {
  width: 24px;
}

.card__body input {
  display: none;
}

.card__body label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__body input:checked + label {
  background: var(--color-primary);
  color: var(--color-white);
}

.card__body input:checked + label img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg)
    brightness(106%) contrast(105%);
}

/*
** ** ============================================================================
** ** ** Aside
** ** ============================================================================
*/
aside.aside {
  width: 340px;
  height: 315%;
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 48px;
  position: fixed;
  left: 0;
  top: 155px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.main--cafe {
  --offeset: 340px;
  width: calc(100% - var(--offeset));
  height: 315%;
  margin-left: var(--offeset);
  padding: 224px 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main--cafe .coffee-grid {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  flex-wrap: wrap;
}

.aside hr.divider {
  border: 1px solid var(--color-tertiary);
  opacity: 0.6;
}

.aside .filters,
.aside .sorting {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aside .filters label {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.aside .filters input[type="checkbox"] {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  accent-color: var(--color-primary);
  border-radius: 8px;
}

.aside .sorting select {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background-color: var(--color-white);
}
